body {
    margin: 0;
    background-color: rgb(59, 150, 206);
    overflow: hidden;
}

aside {
    background: #222;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 20px;
    z-index: 1;
}

main {
    position: absolute;
    top: 0;
    left: 400px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.footer {
    margin-top: 350px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    z-index: 5;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -5%;
    transform: translate(20%, 0%);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 24px;
    color: #444;
    text-align: center;
    opacity: 1;
}

.clock::after {
    background: #aaa;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
}

.hour_hand {
    position: absolute;
    width: 6px;
    height: 60px;
    background: #222;
    top: 30%;
    left: 49%;
    transform-origin: bottom;
}

.min_hand {
    position: absolute;
    width: 4px;
    height: 80px;
    background: #444;
    top: 22.5%;
    left: 49%;
    transform-origin: bottom;
}

.sec_hand {
    position: absolute;
    width: 2px;
    height: 118px;
    background: red;
    top: 10.5%;
    left: 50%;
    transform-origin: bottom;
}

.clock span {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
}

.twelve {
    top: 10px;
    left: 46%;
}

.one {
    top: 10%;
    right: 26%;
}

.eleven {
    top: 10%;
    left: 26%;
}

.two {
    top: 25%;
    right: 10%;
}

.three {
    right: 10px;
    top: 46%;
}

.four {
    right: 30px;
    top: 67%;
}

.five {
    right: 78px;
    top: 80%;
}

.six {
    bottom: 10px;
    left: 50%;
}

.seven {
    left: 80px;
    top: 82%;
}

.eight {
    left: 30px;
    top: 67%;
}

.nine {
    left: 10px;
    top: 46%;
}

.ten {
    top: 25%;
    left: 10%;
}




/* button 24/12 */
.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    left: 4px;
    background-color: #03a9f4;
}

#button-10 .knobs:after {
    content: "12";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
    left: 42px;
    background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked~.layer {
    background-color: #fcebeb;
}